extends base

block content
    main.main
      .login-form
        h2.heading-secondary.ma-bt-lg Forgot your Password?
        form.form.form-password-reset
          .form__group
            label.form__label(for="email") Email address
            input#email.form__input(type="email" placeholder="you@example.com" required)
            <p id="hid" style="color: green; text-align:center; font-family:sans-serif; font-size: 15px;" hidden="true">A reset token will be sent to you shortly via email</p>
          .form__group
            button.btn.btn--green Reset Password
